.header-list-flight {
    background-color: #374577;
    padding: 20px 0px 20px 0px;

    .title {
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .text-medium {
        color: white;
        font-size: 16px;
    }

    .icon {
        color: white;
        font-size: 22px;
    }
}