@use '../../../styles/mixins'

.layout-dashboard

  .ant-layout-sider-children
    background: #fff

  .sidebar
    border-radius: 4px

    .ant-menu-item
      padding: 16px 24px
      height: auto
      margin: 0