.flight-wrapper {
    .left-content {
        padding: 20px;

        .label {
            font-size: 16px;
            font-weight: bold;
        }

        .content-wrapper {
            .date-wrapper {
                display: flex;
                justify-content: space-between;
            }
            .flight-search-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;

                button {
                    display: block;
                    width: 50%;
                    height: 40px;
                    border-radius: 20px;
                }
            }
        }
    }
}

.modal-guest {
    .guest-header {
        .guest-title {
            font-size: 20px;
            font-weight: bold;
        }
    }
    
    .guest-body {
        display: flex;
        flex-direction: row;

        .text {
            display: flex;
            padding-left: 20px;
            align-items: center;
            width: 150px;
        }

        .counter {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: center;
            padding: 10px 0px 10px 0px;
            color: #374577;

            .btn-count {
                background-color: #F2F4F3;
                margin: 0px 10px 0px 10px;
            }
        }
    }

    .guest-footer {

        .btn-pilih {
            width: 100%;
            border-radius: 15px;
        }
    }
}


.section-alert {

    .alert-wrapper {
        display: flex;
        justify-content: center;
    
        .alert {
            position: absolute;
            top: 140px;
        }

        @media screen and (max-width: 600px) {
            .alert {
                top: 400px;
            }
          }
    }
    
    .alert-wrapper-inactive {
        display: none;
    }
}



input {
    --tw-ring-shadow: 0 0 #000 !important;
}
