.title-room {
    font-size: 20px;
    font-weight: 500;
}

.list-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.modal-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .title-text {
        font-size: 24px;
        font-weight: bold;
    }
}

.room-list {
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(189, 189, 189, 0.5);

    .room-title {
        font-size: 22px;
        font-weight: 500;
        color: #45539F;
    }

    .room-desc {
        font-size: 14px;
    }

    .room-price {
        font-size: 22px;
        font-weight: 500;
        color: #45539F;
    }

    .room-per {
        font-size: 14px;
    }

    // .btn-select-room {
    //     width: 100%;
    //     border-radius: 25px;
    // }
}

.room-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 0px;
    color: #374577;

    .btn-count {
        // border: 1px solid red;
        background-color: #F2F4F3;
        margin: 0px 10px 0px 10px;
        // height: 4px;
    }
}

.btn-select-room {
    width: 100%;
    border-radius: 25px;
}