.datres-wrapper {
    padding: 20px;
    // .input-datres {
    //     border-top: none !important;
    //     border-right: none !important;
    //     border-left: none !important;
    //     width: 100% !important;
    // }
    
    // .input-datres:active {
    //     border-top: none !important;
    //     border-right: none !important;
    //     border-left: none !important;
    //     width: 100% !important;
    // }
}

// input:focus {
//     border-top: 1px solid white !important;
// }

input {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
}
