.card-wrapper {
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;

    .text-header {
        font-size: 18px;
        font-weight: 500;
        color: #374577;
    }

    .content-wrapper {
        .content-left {
            padding: 10px 0px 0px 0px;
        }
        .content-center {
            padding: 0px;
            .text-time {
                font-size: 14px;
            }
        }
        .content-right {
            padding: 10px 0px 0px 0px;
        }
    }
}