.box-modal {
    max-height: 400px;
    overflow: y;
}

.card-sidebar {
    padding-top: 36px;
    margin-top: 40px;
    max-width: 400px;
    .icon {
        margin-bottom: -20px;
    }
}

.purple {
    color: #45539F;
}